# JWT
USER_JWT_SECRET=secret-changeme
SERVICE_JWT_SECRET=service-secret-changeme

# Book Service
BOOK_SERVICE_BASE_URL=http://localhost
BOOK_SERVICE_PORT=4001
BOOK_SERVICE_DB_URL=mysql://user:password@localhost:3306/library_mgmt_db

# User Service
USER_SERVICE_BASE_URL=http://localhost
USER_SERVICE_PORT=4002
USER_SERVICE_DB_URL=mysql://user:password@localhost:3306/library_mgmt_db

# Auth Service
AUTH_SERVICE_BASE_URL=http://localhost
AUTH_SERVICE_PORT=4003
AUTH_SERVICE_DB_URL=mysql://user:password@localhost:3306/library_mgmt_db

# Borrow Service
BORROW_SERVICE_BASE_URL=http://localhost
BORROW_SERVICE_PORT=4004
BORROW_SERVICE_DB_URL=mysql://user:password@localhost:3306/library_mgmt_db