# JWT
USER_JWT_SECRET=secret-changeme
SERVICE_JWT_SECRET=service-secret-changeme

# Book Service
BOOK_SERVICE_BASE_URL=http://localhost
BOOK_SERVICE_PORT=4001

# User Service
USER_SERVICE_BASE_URL=http://localhost
USER_SERVICE_PORT=4002

# Auth Service
AUTH_SERVICE_BASE_URL=http://localhost
AUTH_SERVICE_PORT=4003

# Borrow Service
BORROW_SERVICE_BASE_URL=http://localhost
BORROW_SERVICE_PORT=4004